*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main_body{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.heading_div{
  display: flex;
  justify-content: center;
}

.heading{
  background-color: red;
}

.AI{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 11, 112, 0.8);
  color: rgb(242, 215, 250);
  height: 70px;
}

.IOT{
  margin-top: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 160, 120, 0.8);
  color: antiquewhite;
  height: 70px;
}

.BC{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 214, 10, 0.8);
  color: antiquewhite;
  height: 70px;
}

.CNC{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 16, 69, 0.8);
  color: antiquewhite;
  height: 70px;
}

