*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.heading_div{
  display: flex;
  justify-content: center;
}

.heading{
  background-color: red;
}

.AI{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 11, 112);
  height: 70px;
}

.IOT{
  margin-top: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 138, 74);
  height: 70px;
}

.BC{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 214, 10);
  height: 70px;
}

.CNC{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 16, 69);
  height: 70px;
}

