*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: rgb(255, 0, 0);
}

.main_div{
  background-color: rgb(42, 42, 46);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  background-color: aliceblue;
  width: 50%;
  height: 50%;
}

.sub_box1{
  background-color: aqua;
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1;
}

.sub_box2{
  background-color: rgb(219, 118, 71);
  width: 70px;
  height: 70px;
  position: relative;
  top: -70px;


  
  /* display: none; */
}

