*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.expand{
  background-color: blueviolet;
}

.list{
  background-color: rgb(155, 0, 121);
  position: absolute;
  /* z-index: 1; */
}
.list_none{
  display:none;
}
.parent_headings{
  position: absolute;
}

.headings{
  position: relative;
}

