@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home_page{
  background-image: url("./Images/background.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  opacity: 0;

  display: flex;
  padding-left: 20vw;
  align-items: center;

  animation-name: homePage_animate;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes homePage_animate {
  0%   {opacity:0.1; }
  100% {opacity:1;}
}


.home_page_heading{
  transform: translate(0px, -50px);
  color: aliceblue;
  opacity: 0;
  font-family: 'Monoton', cursive;
  letter-spacing: 1px;

  animation-name: iot_heading_animate;
  animation-duration: 2s;
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes iot_heading_animate {
  0%   {opacity:0.1; transform: scale(0.1);}
  100% {opacity:1; transform: scale(2);}
}

/* -------------------- Second Page -------------------- */
.second_page{
  display: flex;
  /* border: 5px solid black; */
}

.second_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.second_page_desc_heading{
  /* border:5px solid red; */
  padding: 0px 120px;
  margin: 20px auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  color: rgba(0,0,0,0.8);
}

.second_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
  font-family: 'Quicksand', sans-serif;
}

.second_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.second_iot_pic{
  width: 500px;
}




/* -------------------- Third Page -------------------- */
.third_page{
  display: flex;
  /* border: 5px solid black; */
}

.third_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.third_page_desc_heading{
  /* border:5px solid red; */
  padding: 10px 120px;
  margin:20px 0px;
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  color: rgba(0,0,0,0.8);
}

.third_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
  /* list-style : none; */
  font-family: 'Quicksand', sans-serif;
}

.third_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.third_iot_pic{
  width: 400px;
}




/* -------------------- Fourth Page -------------------- */
.fourth_page{
  display: flex;
  /* border: 5px solid black; */
}

.fourth_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.fourth_page_desc_heading{
  /* border:5px solid red; */
  padding: 0px 120px;
  margin: 20px auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  color: rgba(0,0,0,0.8);
}

.fourth_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
  font-family: 'Quicksand', sans-serif;
}

.fourth_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.fourth_iot_pic{
  width: 500px;
}









/* ==========================================================================
                            Media Query
=============================================================================*/

/* -------------------- Extra large screens and TV ------------------------------*/
@media screen and (min-width: 1021px){
  

}



/* -------------------- Desktops and large screens ------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1200px){

}



/* -------------------- Small screen and laptops ------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1024px){
  .home_page{
    background-image: url("./Images/background.jpg");
    /* height: 400px;  */
    /* background-size: contain;  */

  /* width: 100px;  */
  /* background-size: 100%; */
  /* background-position: -300px 0px; */
  
    display: flex;
    padding-left: 20vw;
    align-items: center;
  }
  
  
  .home_page_heading{
    transform: translate(0px, -50px);
    color: aliceblue;
    /* color: rgb(250, 0, 0); */
    opacity: 0;
    letter-spacing: 1px;
  }
  
  /* -------------------- Second Page -------------------- */
  .second_page{
    display: flex;
  }
  
  .second_page_description{
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }
  
  .second_page_desc_heading{
    padding: 0px 120px;
    margin: 20px auto;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .second_page_desc_text{
    padding: 0px 80px;
    font-size: 21px;
  }
  
  .second_page_illustration{
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  .second_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Third Page -------------------- */
  .third_page{
    display: flex;
  }
  
  .third_page_description{
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }
  
  .third_page_desc_heading{
    padding: 10px 120px;
    margin:20px 0px;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .third_page_desc_text{
    padding: 0px 80px;
    font-size: 21px;
  }
  
  .third_page_illustration{
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  .third_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Fourth Page -------------------- */
  .fourth_page{
    display: flex;
    /* border: 5px solid black; */
  }
  
  .fourth_page_description{
    width:50vw;
    /* border: 5px solid rgb(224, 4, 4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }
  
  .fourth_page_desc_heading{
    /* border:5px solid red; */
    padding: 0px 120px;
    margin: 20px auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .fourth_page_desc_text{
    /* border:5px solid red; */
    padding: 0px 80px;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .fourth_page_illustration{
    width:50vw;
    /* border: 5px solid rgb(8, 109, 33); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  .fourth_iot_pic{
    width: 450px;
  }

}



/* -------------------- iPads and Tablets ------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px){
  .home_page{
    background-image: url("./Images/background.jpg");
    /* height: 400px;  */
    /* background-size: contain;  */

  /* width: 100px;  */
  /* background-size: 100%; */
  /* background-position: -300px 0px; */
  
    display: flex;
    /* padding-left: 20vw; */
    align-items: center;
  }
  
  
  .home_page_heading{
    transform: translate(0px, -50px);
    color: aliceblue;
    /* color: rgb(250, 0, 0); */
    opacity: 0;
    letter-spacing: 1px;
  }
  
  /* -------------------- Second Page -------------------- */
  .second_page{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(36, 34, 34);

  }
  
  .second_page_description{
    width:90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .second_page_desc_heading{
    padding: 0px 120px;
    margin: 20px auto;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .second_page_desc_text{
    padding: 0px 80px;
    font-size: 21px;
  }
  
  .second_page_illustration{
    margin-top: -80px;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .second_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Third Page -------------------- */
  .third_page{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(36, 34, 34);
  }
  
  .third_page_description{
    width:90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .third_page_desc_heading{
    padding: 10px 120px;
    margin:20px 0px;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .third_page_desc_text{
    padding: -30px 80px;
    font-size: 21px;
  }
  
  .third_page_illustration{
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .third_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Fourth Page -------------------- */
  .fourth_page{
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
  }
  
  .fourth_page_description{
    width:90vw;
    /* border: 5px solid rgb(224, 4, 4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .fourth_page_desc_heading{
    /* border:5px solid red; */
    padding: 0px 120px;
    margin: 20px auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .fourth_page_desc_text{
    /* border:5px solid red; */
    padding: 0px 80px;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .fourth_page_illustration{
    width:90vw;
    /* border: 5px solid rgb(8, 109, 33); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .fourth_iot_pic{
    width: 450px;
  }
}


/* -------------------- Mobile Devices ------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px){
  .home_page{
    background-image: url("./Images/background.jpg");
    /* height: 400px;  */
    /* background-size: contain;  */

  /* width: 100px;  */
  /* background-size: 100%; */
  /* background-position: -300px 0px; */
  
    display: flex;
    /* padding-left: 20vw; */
    align-items: center;
  }
  
  
  .home_page_heading{
    transform: translate(0px, -50px);
    color: aliceblue;
    /* color: rgb(250, 0, 0); */
    opacity: 0;
    letter-spacing: 1px;
  }
  
  /* -------------------- Second Page -------------------- */
  .second_page{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(36, 34, 34);

  }
  
  .second_page_description{
    width:90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .second_page_desc_heading{
    padding: 0px 120px;
    margin: 20px auto;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .second_page_desc_text{
    padding: 0px 80px;
    font-size: 21px;
  }
  
  .second_page_illustration{
    margin-top: -80px;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .second_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Third Page -------------------- */
  .third_page{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(36, 34, 34);
  }
  
  .third_page_description{
    width:90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .third_page_desc_heading{
    padding: 10px 120px;
    margin:20px 0px;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .third_page_desc_text{
    padding: -30px 80px;
    font-size: 21px;
  }
  
  .third_page_illustration{
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .third_iot_pic{
    width: 450px;
  }
  
  
  
  
  /* -------------------- Fourth Page -------------------- */
  .fourth_page{
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
  }
  
  .fourth_page_description{
    width:90vw;
    /* border: 5px solid rgb(224, 4, 4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
  }
  
  .fourth_page_desc_heading{
    /* border:5px solid red; */
    padding: 0px 120px;
    margin: 20px auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: rgba(0,0,0,0.8);
  }
  
  .fourth_page_desc_text{
    /* border:5px solid red; */
    padding: 0px 80px;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .fourth_page_illustration{
    width:90vw;
    /* border: 5px solid rgb(8, 109, 33); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
  }
  
  .fourth_iot_pic{
    width: 450px;
  }
}
