*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home_page{
  background-image: url("./Images/background.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  opacity: 0.9;

  display: flex;
  padding-left: 20vw;
  align-items: center;
}

.home_page_heading{
  transform: translate(0px, -50px);
  color: aliceblue;
}

/* -------------------- Second Page -------------------- */
.second_page{
  display: flex;
  /* border: 5px solid black; */
}

.second_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.second_page_desc_heading{
  /* border:5px solid red; */
  padding: 0px 120px;
  margin: 0px auto;
}

.second_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
}

.second_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.second_iot_pic{
  width: 500px;
}




/* -------------------- Third Page -------------------- */
.third_page{
  display: flex;
  /* border: 5px solid black; */
}

.third_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.third_page_desc_heading{
  /* border:5px solid red; */
  padding: 10px 120px;
  margin:0px 0px;
}

.third_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
  /* list-style : none; */
}

.third_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.third_iot_pic{
  width: 400px;
}




/* -------------------- Fourth Page -------------------- */
.fourth_page{
  display: flex;
  /* border: 5px solid black; */
}

.fourth_page_description{
  width:50vw;
  /* border: 5px solid rgb(224, 4, 4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}

.fourth_page_desc_heading{
  /* border:5px solid red; */
  padding: 0px 120px;
  margin: 0px auto;
}

.fourth_page_desc_text{
  /* border:5px solid red; */
  padding: 0px 120px;
}

.fourth_page_illustration{
  width:50vw;
  /* border: 5px solid rgb(8, 109, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.fourth_iot_pic{
  width: 500px;
}