@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ==========================================================================
                              Home Page
=============================================================================*/

.home_page{
  background-image: url("./Images/background.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  opacity: 0.9;
}


.welcome_message{
  background-color:transparent;
  font-family: 'Bowlby One SC', cursive;
  font-size: 50px;
  padding-top: 180px;
  color:rgb(119, 126, 119);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_div{
  margin-top: 20px ;
  display:flex;
  justify-content: center;
}
.explore_button{
  background: none;
  outline: none;
  border: 3px solid rgba(195, 184, 25, 0.397);
  /* color:rgb(119, 126, 119); */
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 3px;
  font-size: 19px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(195, 184, 25, 0.596);
  padding: 15px 30px;
  transition-duration: 0.4s ;
}
.explore_button:hover{
  background-color: rgba(189, 186, 9, 0.192);
  border: 5px solid rgba(195, 184, 25, 1);
  font-size: 22px;
  transition-duration: 0.4s ;
}











/* ==========================================================================
                              Navbar
=============================================================================*/
.typography{
  margin-right: 80px !important;
}

.home_button{
  background-color: transparent;
  outline: none;
  /* border: 1px solid red; */
  border: none;
  /* margin-right: 80px; */
  color: rgba(174, 184, 174, 0.986);
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1px;
  font-size: 20px;
  transition-duration: 0.3s;
}
.home_button:hover{
  color:rgb(119, 126, 119);
  transition-duration: 0.3s;
}



.products_button{
  background-color: transparent;
  outline: none;
  /* border: 1px solid yellow; */
  border: none;
  /* margin-right: 80px; */
  color: rgba(174, 184, 174, 0.986);
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1px;
  font-size: 20px;
  transition-duration: 0.3s;
}
.products_button:hover{
  color:rgb(119, 126, 119);
  transition-duration: 0.3s;
}

.cart_button{
  background-color: transparent;
  outline: none;
  /* border: 1px solid palegoldenrod; */
  border: none;
  margin-right: 10px;
  color: rgba(174, 184, 174, 0.986);
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1px;
  font-size: 20px;
  transition-duration: 0.3s;
}
.cart_button:hover{
  color:rgb(119, 126, 119);
  transition-duration: 0.3s;
}

.display_cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card_price{
  font-size: 25px !important;
}

.material_ui_card{
  /* border: 3px solid red !important; */
  margin: 0px 300px;
}

.single_product_view{
  display: flex;
  /* border: 5px solid red; */

}

.single_product_picture{
  /* border: 5px solid indigo; */
  width: 50%;

}
.single_product_picture > img{
  width: 70%;
  height: 100%;
}

.single_product_details{
  /* border: 5px solid green; */
  /* flex-grow: 1; */
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}


.product_name{
  font-family: 'Quicksand', sans-serif;
  margin: 0px auto;
  margin-bottom: 50px;
}
.product_desc_title{
  font-family: 'Quicksand', sans-serif;
}
.product_desc{
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}
.product_price{
  font-family: 'Bowlby One SC', cursive;
  font-size: 22px;
  color: rgba(0, 0, 0,0.87);
  /* background-color: rgb(218, 2, 2); */
  border-radius: 4px;
  margin: 30px 0px;
  /* margin-left: 50px; */
  border-bottom:5px solid rgba(11, 105, 168, 0.726);
}
.add_to_cart{
  margin-top:30px !important;
}

.cart_paper{
  width: 40vw !important;
}
.cart_paper_content{
  display: flex;
  /* border: 1px solid indianred; */
}
.cart_paper_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.cart_paper_image{
  width: 100px;
}







/* ==========================================================================
                            Media Query
=============================================================================*/





/* -------------------- Extra large screens and TV ------------------------------*/
@media screen and (min-width: 1021px){
  .home_page{
    background-image: url("./Images/background.jpg");
    height: 100vh;
    opacity:0.2;
  }

  .welcome_message{
    font-size: 7.3vw;
    transform: scaleY(1.5);
    color:rgb(144, 156, 144);
  }
  
  .button_div{
    margin-top: 160px ;
    display:flex;
    justify-content: center;
  }

  .explore_button{
    border: 3px solid rgba(195, 184, 25, 0.397);
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 800;
    border-radius: 5px;
    padding: 25px 40px;
  }

  .typography{
    margin-top: 35px !important;
    margin-right: 11% !important;
  }

    /* ------------------ products page ------------------ */

    .display_cards{
      justify-content: center;
    }

    /* ------------------ Single product view page ------------------ */

    .single_product_view{
      display: flex;
      flex-direction: column;
      align-items: center;  
    }

    .single_product_picture{
      width: 80vw;
      display: flex;
      justify-content: center;
    }
    
    .single_product_picture > img{
      width: 70vw;
      height: auto;
    }
    
    .single_product_details{
      width: 80vw;
    }
    
    .product_name{
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .product_desc_title{
      font-size: 23px;
    }
    .product_desc{
      margin-top: 20px;
      font-size: 19px;
    }
    .product_price{
      font-size: 28px;
      padding-bottom: 8px;
    }
    .add_to_cart{
      margin-top:30px !important;
      font-size: 20px !important;
    }

    /* ------------------ Shopping cart page ------------------ */
    
    .cart_paper{
      width: 80vw !important;
    }
}















/* -------------------- Desktops and large screens ------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1200px){
  .home_page{
    background-image: url("./Images/background.jpg");
    height: 100vh;
    opacity:0.2;
  }

  .welcome_message{
    font-size: 7.3vw;
    transform: scaleY(1.5);
    color:rgb(144, 156, 144);
  }
  
  .button_div{
    margin-top: 160px ;
    display:flex;
    justify-content: center;
  }

  .explore_button{
    border: 3px solid rgba(195, 184, 25, 0.397);
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 800;
    border-radius: 5px;
    padding: 25px 40px;
  }

  .typography{
    margin-top: 35px !important;
    margin-right: 11% !important;
  }

    /* ------------------ products page ------------------ */

    .display_cards{
      justify-content: center;
    }

    /* ------------------ Single product view page ------------------ */

    .single_product_view{
      display: flex;
      flex-direction: column;
      align-items: center;  
    }

    .single_product_picture{
      width: 80vw;
      display: flex;
      justify-content: center;
    }
    
    .single_product_picture > img{
      width: 70vw;
      height: auto;
    }
    
    .single_product_details{
      width: 80vw;
    }
    
    .product_name{
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .product_desc_title{
      font-size: 23px;
    }
    .product_desc{
      margin-top: 20px;
      font-size: 19px;
    }
    .product_price{
      font-size: 28px;
      padding-bottom: 8px;
    }
    .add_to_cart{
      margin-top:30px !important;
      font-size: 20px !important;
    }

    /* ------------------ Shopping cart page ------------------ */
    
    .cart_paper{
      width: 80vw !important;
    }
}















/* -------------------- Small screen and laptops ------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1024px){
  .home_page{
    background-image: url("./Images/background.jpg");
    height: 100vh;
    /* opacity:0.2; */
  }

  .welcome_message{
    padding-top: 50vh;
    font-size: 4.3vw;
    transform: scaleY(1.5);
    color:rgb(144, 156, 144);
  }
  
  .button_div{
    margin-top: 160px ;
    display:flex;
    justify-content: center;
  }

  .explore_button{
    border: 3px solid rgba(195, 184, 25, 0.397);
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 800;
    border-radius: 5px;
    padding: 25px 40px;
  }

  .typography{
    margin-top: 35px !important;
    margin-right: 8% !important;
  }

    /* ------------------ products page ------------------ */

    .display_cards{
      justify-content: center;
    }

    /* ------------------ Single product view page ------------------ */

    .single_product_view{
      display: flex;
      flex-direction: column;
      align-items: flex-start;  
    }

    .single_product_picture{
      width: 60vw;
      display: flex;
      justify-content: center;
    }
    
    .single_product_picture > img{
      width: 50vw;
      height: auto;
    }
    
    .single_product_details{
      width: 60vw;
    }
    
    .product_name{
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .product_desc_title{
      font-size: 23px;
    }
    .product_desc{
      margin-top: 20px;
      font-size: 19px;
    }
    .product_price{
      font-size: 28px;
      padding-bottom: 8px;
    }
    .add_to_cart{
      margin-top:30px !important;
      font-size: 20px !important;
    }

    /* ------------------ Shopping cart page ------------------ */
    
    .cart_paper{
      width: 60vw !important;
    }
}















/* -------------------- iPads and Tablets ------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px){
  .home_page{
    background-image: url("./Images/background.jpg");
    height: 100vh;
    opacity:0.2;
  }

  .welcome_message{
    padding-top: 30vh;
    font-size: 4.3vw;
    transform: scaleY(1.5);
    color:rgb(144, 156, 144);
  }
  
  .button_div{
    margin-top: 160px ;
    display:flex;
    justify-content: center;
  }

  .explore_button{
    border: 3px solid rgba(195, 184, 25, 0.397);
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 800;
    border-radius: 5px;
    padding: 25px 40px;
  }

  .typography{
    margin-top: 35px !important;
    margin-right: 8% !important;
  }

    /* ------------------ products page ------------------ */

    .display_cards{
      justify-content: center;
    }

    /* ------------------ Single product view page ------------------ */

    .single_product_view{
      display: flex;
      flex-direction: column;
      align-items: flex-start;  
    }

    .single_product_picture{
      width: 60vw;
      display: flex;
      justify-content: center;
    }
    
    .single_product_picture > img{
      width: 50vw;
      height: auto;
    }
    
    .single_product_details{
      width: 60vw;
    }
    
    .product_name{
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .product_desc_title{
      font-size: 23px;
    }
    .product_desc{
      margin-top: 20px;
      font-size: 19px;
    }
    .product_price{
      font-size: 28px;
      padding-bottom: 8px;
    }
    .add_to_cart{
      margin-top:30px !important;
      font-size: 20px !important;
    }

    /* ------------------ Shopping cart page ------------------ */
    
    .cart_paper{
      width: 60vw !important;
    }
}















/* -------------------- Mobile Devices ------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px){
  .home_page{
    background-image: url("./Images/background.jpg");
    height: 100vh;
    opacity:0.2;
  }

  .welcome_message{
    font-size: 7.3vw;
    transform: scaleY(1.5);
    color:rgb(144, 156, 144);
  }
  
  .button_div{
    margin-top: 160px ;
    display:flex;
    justify-content: center;
  }

  .explore_button{
    border: 3px solid rgba(195, 184, 25, 0.397);
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 800;
    border-radius: 5px;
    padding: 25px 40px;
  }

  .typography{
    margin-top: 35px !important;
    margin-right: 11% !important;
  }

    /* ------------------ products page ------------------ */

    .display_cards{
      justify-content: center;
    }

    /* ------------------ Single product view page ------------------ */

    .single_product_view{
      display: flex;
      flex-direction: column;
      align-items: center;  
    }

    .single_product_picture{
      width: 80vw;
      display: flex;
      justify-content: center;
    }
    
    .single_product_picture > img{
      width: 70vw;
      height: auto;
    }
    
    .single_product_details{
      width: 80vw;
    }
    
    .product_name{
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .product_desc_title{
      font-size: 23px;
    }
    .product_desc{
      margin-top: 20px;
      font-size: 19px;
    }
    .product_price{
      font-size: 28px;
      padding-bottom: 8px;
    }
    .add_to_cart{
      margin-top:30px !important;
      font-size: 20px !important;
    }

    /* ------------------ Shopping cart page ------------------ */
    
    .cart_paper{
      width: 80vw !important;
    }
}