*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div{
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 3s;
}

.main_div_night{
  background-color: rgb(40, 46, 46);
  transition-duration: 3s;

}

.counter_section{
  /* background-color: beige; */
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrement_button{
  height: 50px;
  width: 100px;
  background-color: rgb(18, 23, 98);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition-duration: 0.1s;
}
.decrement_button:hover{
  background-color: rgb(15, 131, 77);
  transition-duration: .1s;
}
.decrement_button_night{
  background-color: rgb(40, 46, 46);
  border:2px solid rgb(14, 119, 119);
  color: rgb(14,119,119);
  transition-duration: 0.1s;
}
.decrement_button_night:hover{
  background-color: rgba(8, 77, 98, 0.883);
  color: wheat;
  transition-duration: 0.1s;
}

.counter_text{
  color: rgb(56, 49, 49);
  transition-duration: 2s;
}

.counter_text_night{
  color: rgb(18, 218, 253);
  transition-duration: 2s;
}

.increment_button{
  height: 50px;
  width: 100px;
  background-color: rgb(18, 23, 98);
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition-duration: .1s;
}
.increment_button:hover{
  background-color: rgb(15, 131, 77);
  transition-duration: .1s;
}

.increment_button_night{
  background-color: rgb(40, 46, 46);
  border:2px solid rgb(14, 119, 119);
  color: rgb(14,119,119);
  transition-duration: .1s;
}
.increment_button_night:hover{
  background-color: rgba(8, 77, 98, 0.883);
  color: wheat;
  transition-duration: .1s;
}

.color_change{
  /* background-color: violet; */
  margin-bottom: 50px;

  
}

.color_change_button{
  background-color: rgb(165, 26, 26);
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  outline: none; 
   border: none;
   transition-duration: .3s;
}
.color_change_button:hover{
  background-color: rgb(93, 86, 86);
  transition-duration: .3s;
}

.color_change_button_night{
  background-color: transparent;
  color: rgb(236, 234, 234);
  border: 2px solid rgb(236, 234, 234);
  transition-duration: .3s;
}
.color_change_button_night:hover{
  background-color: rgba(29, 153, 190, 0.883);
  transition-duration: .3s;
}
