*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main_div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary{
  display: flex;
  flex-direction: row;
}