*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}



.main_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

.header{
  color: rgb(52, 54, 54);
} 

.balance_view{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: rgb(52, 54, 54);
}

.balance_view > h2{
  font-weight: 400;
  font-size: 20px;
}

.summary{
  display: flex;
  flex-direction: row;
}

.income{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
  color: rgb(52, 54, 54);
}

.income_amount{
  color: rgb(18, 212, 51);
  font-size: 25px;
}

.expense{
  border-left: 1px solid rgb(180, 176, 176);  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding: 15px 60px 15px 60px;
  color: rgb(52, 54, 54);
}

.expense_amount{
  color: rgb(185, 15, 15);
  font-size: 25px;
}

.summary_text{
  font-weight: 400;
}

.transaction_history_text {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  color: rgb(52, 54, 54);
  border-bottom: 1px solid rgb(98, 94, 94);
}

.transaction_description{
  font-size: 21px;
  font-weight: 500;
}

.transaction_amount{
  font-size: 21px;
  font-weight: 500;
}

.transaction_li{
  border-radius: 3px;
  box-shadow: 1px 1px #ccc9c9;
  margin-top: 15px;
  padding:10px;
  margin-bottom: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.transaction_amount_positive{
  border-right: 5px solid rgb(0, 92, 20);
}
.transaction_amount_positive:hover{
  background-color: rgba(19, 190, 33, 0.219);
}

.transaction_amount_negative{
  border-right: 5px solid rgb(200, 10, 10);
}
.transaction_amount_negative:hover{
  background-color: rgba(190, 19, 19, 0.219);
}


.transaction_amount{
  display: flex;
  align-items: center;
}

.edit_icon{
  height: 30px;
  width: 50px;
  fill: rgb(13, 59, 102);
  margin-right: -10px;
}
.edit_icon:hover{
  fill: rgb(13, 195, 44);
}

.delete_icon{
  height: 30px;
  width: 50px;
  fill: rgb(13, 59, 102);
}
.delete_icon:hover{
  fill: rgb(185, 15, 15);
}

.input_description{
  border-radius: 5px !important;
  height: 40px !important;
  width: 350px !important;
}

.input_amount{
  border-radius: 5px !important;
  height: 40px !important;
  width: 350px !important;
}

.button_section{
  display: flex;
  justify-content: center;
}

.submit_button{
  margin-top: 15px;
  width: 350px;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.expense_message{
  color: rgba(238, 9, 59, 0.733);
  font-size: 15px;
}