*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}



.select{
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;

}





